# Set this to your backend Render URL in production (e.g. https://your-backend.onrender.com/api)
# Note: Make sure to append "/api" at the end of the Render URL!
VITE_API_BASE_URL=https://your-backend.onrender.com/api
SPRING_MAIL_USERNAME=your-smtp-username
SPRING_MAIL_PASSWORD=your-smtp-password
SPRING_MAIL_PORT = 587
SPRING_MAIL_HOST = smtp-relay.brevo.com
